# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfplan
*.tfstate.lock.info

# Module directory
.terraform/

# password etc
terraform.tfvars
secrets.tf
terraform.tfvars
Set-AzureRMSecrets.ps1

# more temp stuff
_plan.json
*.zip
