@using System.Data.SqlClient
@using System.Net.Sockets

@{
string connString = System.Configuration.ConfigurationManager.ConnectionStrings["Database"].ConnectionString;
var scsb = new SqlConnectionStringBuilder(connString);
string targetHost = scsb.DataSource;
}

<html> 
<body> 
<h1>Test DB connection</h1> 

<p>
Connection string is @connString
</p>

<p>
Socket connection is
@{
    try
    {
        var tcpClient = new TcpClient();
        tcpClient.Connect(targetHost,1433);
        WriteLiteral("SUCCEEDED");
        tcpClient.Close();
    }
    catch (SocketException sockEx)
    {
        WriteLiteral(sockEx.Message);
    }
}
</p>

<p>
SQL Connection is
@{
    try
    {
        using (SqlConnection sqlConn = new SqlConnection(connString))  
        {
            var sqlCmd = new SqlCommand("SELECT @@Version", sqlConn);  
            sqlConn.Open();  

            var dataReader= sqlCmd.ExecuteReader();  
            if (dataReader.Read())  
            {
                WriteLiteral( dataReader.GetString(0) );
            }  
        }//using
    }
    catch (SqlException sqlEx)
    {
        WriteLiteral(sqlEx.Message);
    }
}
</p>

</body>
</html>